In [6]:
import pandas as pd
import numpy as np

In [7]:
df_old = pd.read_csv("startup_funding(2000-2023).csv")
df_new = pd.read_csv("startup_funding(2020-2025)sample.csv")

In [8]:
df_old.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [9]:
df_new.head()

,Startup,Industry,SubVertical,City,Investors,InvestmentType,InvestmentAmount_USD,Date
0,Housejoy,EdTech,K12,Mumbai,Lightspeed India,Seed,199000,19-04-2023
1,Groww,Media,Streaming,Bengaluru,IFC,Seed,1668000,28-01-2025
2,Groww,Mobility,Ride Sharing,Hyderabad,"Nexus Venture Partners, Peak XV",Series B,38052000,14-03-2021
3,FarmBox,Consumer Electronics,Wearables,Gurugram,"Kalaari Capital, Y Combinator",Seed,455000,11-09-2023
4,Udaan,RealEstate,Rental Tech,Mumbai,Bessemer Venture Partners,Seed,89000,31-01-2024

In [10]:
print("Old dataset shape:", df_old.shape)
print("New dataset shape:", df_new.shape)

Old dataset shape: (3044, 10)
New dataset shape: (1100, 8)

In [11]:
df_old.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [12]:
df_new.columns

Index(['Startup', 'Industry', 'SubVertical', 'City', 'Investors',
       'InvestmentType', 'InvestmentAmount_USD', 'Date'],
      dtype='object')

In [13]:
df_old.columns = df_old.columns.str.lower().str.strip()
df_new.columns = df_new.columns.str.lower().str.strip()

In [14]:
df_old.columns

Index(['sr no', 'date dd/mm/yyyy', 'startup name', 'industry vertical',
       'subvertical', 'city  location', 'investors name', 'investmentntype',
       'amount in usd', 'remarks'],
      dtype='object')

In [15]:
df_new.columns

Index(['startup', 'industry', 'subvertical', 'city', 'investors',
       'investmenttype', 'investmentamount_usd', 'date'],
      dtype='object')

In [33]:
df_old = df_old.rename(columns={
    'startup name': 'startup_name',
    'city location': 'city',
    'industry vertical': 'industry',
    'subvertical': 'sub_industry',
    'investors name': 'investors',
    'investmentntype': 'funding_round',
    'amount in usd': 'funding_amount_usd',
    'date dd/mm/yyyy': 'date'
})

In [34]:
df_new = df_new.rename(columns={
    'startup': 'startup_name',
    'industry': 'industry',
    'subvertical': 'sub_industry',
    'investors': 'investors',
    'investmenttype': 'funding_round',
    'investmentamount_usd': 'funding_amount_usd',
    'date': 'date'
})

In [57]:
df_old.columns = (
    df_old.columns
    .str.strip()       
    .str.replace(r'\s+', ' ', regex=True)  
)

In [58]:
list(df_old.columns)

['sr no',
 'date',
 'startup_name',
 'industry',
 'sub_industry',
 'city location',
 'investors',
 'funding_round',
 'funding_amount_usd',
 'remarks',
 'data_source']

In [59]:
df_old = df_old.rename(columns={
    'city location': 'city'
})

In [60]:
df_old.columns

Index(['sr no', 'date', 'startup_name', 'industry', 'sub_industry', 'city',
       'investors', 'funding_round', 'funding_amount_usd', 'remarks',
       'data_source'],
      dtype='object')

In [61]:
df_new.columns

Index(['startup_name', 'industry', 'sub_industry', 'city', 'investors',
       'funding_round', 'funding_amount_usd', 'date', 'data_source'],
      dtype='object')

In [62]:
df_old['data_source'] = '2000_2023'
df_new['data_source'] = '2020_2025'

In [63]:
df_old['date'] = pd.to_datetime(df_old['date'], errors='coerce', dayfirst=True)
df_new['date'] = pd.to_datetime(df_new['date'], errors='coerce', dayfirst=True)

In [64]:
df_old['date'].isna().sum()
df_new['date'].isna().sum()

np.int64(0)

In [65]:
def clean_amount(x):
    if pd.isna(x):
        return np.nan
    x = str(x).replace(',', '').replace('$', '').replace('₹', '')
    return pd.to_numeric(x, errors='coerce')

df_old['funding_amount_usd'] = df_old['funding_amount_usd'].apply(clean_amount)
df_new['funding_amount_usd'] = df_new['funding_amount_usd'].apply(clean_amount)

In [66]:
df_old['funding_amount_usd'].describe()

count    2.065000e+03
mean     1.842990e+07
std      1.213734e+08
min      1.600000e+04
25%      4.700000e+05
50%      1.700000e+06
75%      8.000000e+06
max      3.900000e+09
Name: funding_amount_usd, dtype: float64

In [67]:
df_old.columns

Index(['sr no', 'date', 'startup_name', 'industry', 'sub_industry', 'city',
       'investors', 'funding_round', 'funding_amount_usd', 'remarks',
       'data_source'],
      dtype='object')

In [70]:
df_old.columns

Index(['sr no', 'date', 'startup_name', 'industry', 'sub_industry', 'city',
       'investors', 'funding_round', 'funding_amount_usd', 'remarks',
       'data_source'],
      dtype='object')

In [71]:
cols = [
    'startup_name',
    'industry',
    'sub_industry',
    'city',
    'investors',
    'funding_round',
    'funding_amount_usd',
    'date',
    'data_source'
]

df_old = df_old[cols]
df_new = df_new[cols]

In [72]:
df_old.head()

,startup_name,industry,sub_industry,city,investors,funding_round,funding_amount_usd,date,data_source
0,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0,2020-01-09,2000_2023
1,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0,2020-01-13,2000_2023
2,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0,2020-01-09,2000_2023
3,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0,2020-01-02,2000_2023
4,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0,2020-01-02,2000_2023

In [73]:
df = pd.concat([df_old, df_new], ignore_index=True)

In [74]:
df.shape

(4144, 9)

In [75]:
before = df.shape[0]

df = df.drop_duplicates(
    subset=['startup_name', 'date', 'funding_amount_usd']
)

after = df.shape[0]

print("Duplicates removed:", before - after)

Duplicates removed: 0

In [76]:
df['city'] = df['city'].fillna('Unknown')
df['industry'] = df['industry'].fillna('Unknown')
df['sub_industry'] = df['sub_industry'].fillna('Unknown')
df['funding_round'] = df['funding_round'].fillna('Undisclosed')

In [77]:
df.isna().sum()

startup_name            0
industry                0
sub_industry            0
city                    0
investors              24
funding_round           0
funding_amount_usd    979
date                    8
data_source             0
dtype: int64

In [78]:
df['year'] = df['date'].dt.year

In [79]:
df[['date', 'year']].head()

        date    year
0 2020-01-09  2020.0
1 2020-01-13  2020.0
2 2020-01-09  2020.0
3 2020-01-02  2020.0
4 2020-01-02  2020.0

In [80]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4144 entries, 0 to 4143
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   startup_name        4144 non-null   object
 1   industry            4144 non-null   object
 2   sub_industry        4144 non-null   object
 3   city                4144 non-null   object
 4   investors           4120 non-null   object
 5   funding_round       4144 non-null   object
 6   funding_amount_usd  3165 non-null   float64
 7   date                4136 non-null   datetime64[ns]
 8   data_source         4144 non-null   object
 9   year                4136 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 323.9+ KB

,startup_name,industry,sub_industry,city,investors,funding_round,funding_amount_usd,date,data_source,year
0,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0,2020-01-09,2000_2023,2020.0
1,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0,2020-01-13,2000_2023,2020.0
2,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0,2020-01-09,2000_2023,2020.0
3,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0,2020-01-02,2000_2023,2020.0
4,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0,2020-01-02,2000_2023,2020.0

In [81]:
df[df['startup_name'].str.contains('http', case=False, na=False)]

,startup_name,industry,sub_industry,city,investors,funding_round,funding_amount_usd,date,data_source,year
3,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0,2020-01-02,2000_2023,2020.0

In [82]:
df['startup_name'] = (
    df['startup_name']
    .str.replace(r'https?://(www\.)?', '', regex=True)
    .str.replace(r'\.in|\.com|/', '', regex=True)
    .str.strip()
    .str.title()
)

In [85]:
df[['startup_name']].head(10)

   startup_name
0        Byju’S
1        Shuttl
2     Mamaearth
3  Wealthbucket
4        Fashor
5         Pando
6        Zomato
7        Ecozen
8      Cardekho
9  Dhruva Space

In [86]:
df['was_url'] = df['startup_name'].str.contains('http', case=False, na=False)

In [87]:
df['was_url'].value_counts()

was_url
False    4144
Name: count, dtype: int64

In [88]:
df.to_csv("clean_startup_funding_2000_2025.csv", index=False)